<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <div><img src="images/logo-mercado-liebre.svg" alt="Logo mercado liebre"/></div>
      <p>Lugar para poner la barra de búsqueda</p>
      <p>Comprá en cuotas y sin tarjeta de crédito</p>
      <nav>
          <ul>
              <li><a href="">Ofertas</a></li>
              <li><a href="">Tienda Oficiales</a></li>
              <li><a href="">Vender</a></li>
              <li><a href="">Ayuda</a></li>
          </ul>
          <ul>
            <li><a href="">Creá tu cuenta</a></li>
            <li><a href="">Ingresá</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <div><img src="images/img-home-banner.jpg" width="100%" alt="Imagen con oferta"></div>
        <section>
            <h3>Sección: Basado en tu última visita</h3>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="Foto de cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="Foto de cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="Foto de cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="Foto de cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
        </section>
        <section>
            <h3>Sección de ofertas</h3>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="Foto de cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="Foto de cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="Foto de cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="Foto de cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
        </section>
    </main>
    <footer>
        <article>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>