<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="form-container">
        <h2>Login</h2>
        <form action="">
            <div class="form-login">

                <div class="input-container">
                    <input class="input-style2" type="text" name="usuario" placeholder="Nombre de usuario">
                    <span class="error-message2">Debes ingresar tu nombre de usuario</span>
                </div>

                <div class="input-container">
                    <input class="input-style2" type="password" name="passworl" placeholder="Ingrese su contraseña">
                    <span class="error-message2">Debes ingresar una contraseña</span>
                </div>


                <div class="check">
                    <label for="terms">acepto los <a href="">terminos y condiciones</a></label>
                    <input type="checkbox" name="terms" id="terms">
                    <span class="error-message2"> debes aceptar los terminos y condiciones</span>
                </div>
                <span class="error-message2">hubo errores en el envío</span>


                <button type="submit" class="btn1">registrarme</button>

            </div>
    </div>
    </form>
    </div>
</body>

</html>