<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/Public/css/ml-register.css">
</head>

<body>
    <header>
        <div class="box-desktop">
            <div class="box-logo">
                <div class="logo"><img src="imagenes/logo-mercado-liebre.svg" class="logo__img">
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </div>
            <p class="quota"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="nav-ml">
            <ul id="top-list">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="http://localhost:3030/register">Crea tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li><a href="http://localhost:3030/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form action="" class="form-registro">
            <label for="nombre-completo">Datos personales</label>
            <input type="text" name="nombre" placeholder="Nombre Y Apellido" id="nombre-completo" required>
            <input type="text" name="nick-name" placeholder="Nombre de usuario" required>
            <label for="fecha-nacimiento">Fecha de nacimiento</label>
            <input type="date" name="fecha-nacimiento" id="fecha-nacimiento" required>
            <input type="text" name="domicilo" placeholder="Domicilio" required>
            <input type="email" name="email" placeholder="E-mail" required>
            <p>Perfil de usuario</p>
            <div class="input-radio">
                <input type="radio" name="perfil-usuario" value="Comprador">
                <label for="perfil-usuario">Comprador</label>
                <input type="radio" name="perfil-usuario" value="Vendedor">
                <label for="perfil-usuario">Vendedor</label>
            </div>
            <label for="interes" class="label-categorias">Categorias de interés</label>
            <div class="input-checkbox">
                <div class="div-checkbox">
                    <input type="checkbox" name="interes" value="Electro">
                    <p>Electro</p>
                </div>
                <div class="div-checkbox">
                    <input type="checkbox" name="interes" value="Moda">
                    <p>Moda</p>
                </div>
                <div class="div-checkbox">
                    <input type="checkbox" name="interes" value="Hogar">
                    <p>Hogar</p>
                </div>
                <div class="div-checkbox">
                    <input type="checkbox" name="interes" value="Juguetería">
                    <p>Juguetería</p>
                </div>
                <div class="div-checkbox">
                    <input type="checkbox" name="interes" value="Vida sana">
                    <p>vida sana</p>
                </div>
            </div>
            <label for="foto">Foto de usuario</label>
            <input type="file" name="foto" id="foto">
            <label for="contraseña">Contraseña</label>
            <input type="password" name="contraseña" placeholder="Escriba su contraseña" id="contraseña">
            <label for="password">Confirmar Contraseña</label>
            <input type="password" name="confirmar-contraseña" placeholder="Escriba nuevamente su contraseña" id="password">
            <button type="reset" class="button-register">Borrar</button>
            <button type="menu" class="button-register"><a href="http://localhost:3030">Enviar</a></button>
        </form>
    </main>
    <footer>
        <div class="div-article-footer">
            <article class="footer-article">
                <i class="fas fa-credit-card"></i>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer-article">
                <i class="fas fa-gift"></i>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer-article">
                <i class="fas fa-user-shield"></i>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </div>
        <p class="fa-copyright">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>