/*footer*/

footer {
    padding-top: 40px;
}

footer article {
    margin-bottom: 40px;
}

footer article.footer-article {
    text-align: center;
}

footer article.footer-article i {
    color: var(--light_blue);
    font-size: 32px; /*puede ser 2 em?*/
    margin-bottom: 15px; /*teoria decia 10px*/
}

footer article.footer-article h5 {
    font-size: var(--discounts-descriptions);
}

footer article.footer-article p {
    font-size: var(--paragraph);
    width: 77%;
    margin: 0 auto;
}

footer .copy {
    color: var(--dark-grey);
    font-size: var(--paragraph);
}