nav {
    display: none;
}


/* Banner*/

.home.banner {
    display: none;
}


/* MAIN */

main.home {
    width: 90%;
    margin: 0 auto;
}


/* SECTION */

.container-article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.home .section-title {
    margin: 25px 0;
    color: var(--gris-oscuro);
}

.home .card {
    background-color: white;
    margin-bottom: 10px;
}

.home .card .card-content {
    border-top: 1px solid var(--gris-claro);
    padding: 15px;
    position: relative;
}

.home .card .card-content .icon-truck {
    border: 1px solid var(--verde);
    border-radius: 50%;
    width: fit-content;
    width: -moz-fit-content;
    padding: 5px;
    position: absolute;
    top: -15px;
    right: 20px;
}

.home .card .card-content .icon-truck i {
    color: var(--verde);
    font-size: 16px;
}

.card-content .icon-truck i:hover {
    transform: rotate(-90deg);
    transition: 1.2s;
}

.home .card .card-content .product-info {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.home .card .card-content .product-info p:nth-child(1) {
    flex-grow: 0.3;
}

.home .card .card-content .product-info p:nth-child(2) {
    color: var(--verde);
    font-size: 14px;
    flex-grow: 0.7;
}

.home .card .card-content .product-name {
    display: none;
    color: var(--gris-oscuro);
    font-size: 15px;
    margin-top: 15px;
}


/* Media queries*/


/* Tablet*/

@media (min-width: 361px) {
    .container-cards {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .home .card {
        width: 45%;
    }
    .card:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transition: all 1s;
    }
    .home .section-title {
        display: block;
    }
    .home .card .card-content .product-name {
        display: block;
        opacity: 0%;
    }
    .product-name:hover {
        animation: product 2s;
    }
    @keyframes product {
        0% {
            opacity: 0%;
        }
        75% {
            opacity: 75%;
        }
        100% {
            opacity: 100%;
        }
    }
}


/* desktop */

@media (min-width: 769px) {
    .burger-menu {
        display: none;
    }
    nav {
        display: block;
    }
    .container-cards {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .home .card {
        width: 23%;
    }
}