#main-login {
    height: 43.75em;
}

.login {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
}

.login input,
.login button {
    margin: 25px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.login button {
    background-color: var(--celeste);
    color: white;
    font-weight: bold;
}

.login button:hover {
    background-color: #0022AA;
}

.login button a {
    color: white;
}