.error-message {
  display: none;
}

.input-style{
  width: 50%;
  background: none;
  text-align: center;
  color: black;
  font-size: 15px;
  padding: .6em .7em;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.form2  {
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
}

.botones button  {
  width: 90px;
  height: 35px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  background-color:rgb(121, 121, 252);
}

.datos {
  margin-bottom: 15px;
}

.datos2 {
  margin-bottom: 15px;
}

.formulario {
  width: 100%;
  height: 650px;
  display:flex;
  justify-content: center;
  background-color: grey;
}

@media(max-width:790px) {
  .form2  {
    width: 60%;
  }

  .formulario {
    width: 85%;
    height: 600px;
  }
}

@media(max-width:500px) {
  .form2  {
    width: 90%;
  }

  .formulario {
 
    width: 95%;
    height: 650px;
  }
}